@model PhishFood.Models.Category

@{
    ViewData["Title"] = "Delete Category";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>
<h3 class="text-center my-5">Are you sure you want to delete <span style="color: red;">@Html.DisplayFor(model => model.Type)</span>?</h3>
<div class="text-center">
    <h4 class="mb-4 text-danger">The following subcategories will be deleted as well:</h4>
    @foreach (Subcategory subcategory in ViewBag.Sub)
    {
        if (subcategory.Category.Type.ToString() == Model.Type.ToString())
        {
            <p style="font-size: 1.1rem; color: red;">@subcategory.Type</p>
        }
    }
</div>

<div class="form-group btns my-5">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="CategoryView" asp-controller="Subcategory" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
