@model PhishFood.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group create">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group btns margin5">
                <input type="submit" value="Save" class="btn btn-outline-danger" />
                <a asp-action="CategoryView" asp-controller="Subcategory" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
        <hr />
    </div>
    <p class="center"><a asp-action="Delete" asp-route-id="@Model?.ID" class="btn btn-dark">Delete</a></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
