@using PhishFood.Models;
@using PhishFood.ViewModels;

@model CategoryViewModel

@{
    ViewData["Title"] = "Add New Content";
}

<div class="add-content">
    <div class="wrapper p-5">
        <div class="dropdown">
            <p class="text-start">
                <button class="btn btn-outline-danger dropbtn" onclick="Dropdown()">+ New</button>
            </p>
            <div id="dropdown-content" class="dropdown-content">
                <a asp-action="Create" asp-controller="Category">Category</a>
                <a asp-action="Create" asp-controller="Subcategory">Subcategory</a>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr class="table-success text-center">
                    <th>Category</th>
                    <th>Subcategory</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category category in Model.Categories)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-controller="Category" asp-route-id="@category.ID">@Html.DisplayFor(modelItem => category.Type)</a>
                        </td>
                        <td>
                            @foreach (Subcategory subcategory in Model.Subcategories)
                            {
                                if (subcategory.CategoryID == category.ID)
                                {
                                    <ul>
                                        <li><a asp-action="Edit" asp-route-id="@subcategory.ID">@Html.DisplayFor(modelItem => subcategory.Type)</a></li>
                                    </ul>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
