@model IEnumerable<PhishFood.Models.Testing>

@{
    ViewData["Title"] = "Taketest";
    var tests = ViewData["Tests"] as List<Testing>;
    var categories = ViewData["Categories"] as List<string>;
}

<!DOCTYPE html>
<html>
<head>
    <title>Select a Test</title>

</head>
<body>
    <h2 class="center">Graded Unit Tests</h2>
    <br />
    <div class="grid-container center">
        @foreach (var cat in categories)
        {
            <div class="test-card">
                <h3>@cat</h3>
                <a href="">Start Test</a>
            </div>
        }
    </div>
    <hr />
    <h2 class="center">Practice Tests</h2>
    <br />
    <div class="grid-container">
        @foreach (var test in tests)
        {
            <div class="test-card">
                <h3>@test.Category.Type</h3>
                <p>@test.Subcategory.Type</p>
                <a href="@Url.Action("StartTest", "Test", new { id = test.ID })">Start Test</a>
            </div>
        }
    </div>
</body>
</html>