<div class="card shadow border-0 w-75">
    <div class="card-header bg-secondary bg-gradient">
        <div class="col-12 text-center">
            <h2 class="text-white">Login Using Google</h2>
        </div>
    </div>
    <form>
        <div>
            <a asp-controller="Login" asp-action="Login" class="btn btn-primary form-control">Sign in with Google</a>
        </div>
    </form>
</div>
