@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <br />
        <h3>Welcome @User.Identity.Name</h3>

        <br />

    }
</div>
