@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@section style {
    <style>
        #wrapper {
            padding: 0;
        }
    </style>
}

@section script {
    <script>
        var element = document.getElementById("wrapper");
        element.classList.remove("container");
        element.classList.add("container-fluid");

        var menu = document.getElementsByClassName("navbar")[0];
        menu.classList.remove("mb-3");
    </script>
}

<div class="row home">
    @if (User.IsInRole("Admin"))
    {
        <h1 class="mt-5 mt-sm-0">ADMIN ACCESS</h1>
    }
    else
    {
        <h1 class="mt-5 mt-sm-0">Northwestern Michigan College's Cyber Awareness Portal</h1>
    }
</div>

<div class="row m-5 mb-0 p-5 cover">
    @if (User.IsInRole("Admin"))
    {
        <h2>Image Policy:</h2>
        <p>When uploading images to the "training" and "testing" pages, they must be less than 500p x 500p. Large image uploads over time 
            will significantly slow the performance of the site.

            Utilize websites to alter the size of your images, such as: https://imageresizer.com/
        </p>
        <hr />
        <h2>Testing Portal:</h2>
        <p>
            When tests are displayed to students, only 10 questions will populate out of however many have been marked
            for inclusion. If a student takes a test with less then 10 questions, they will receive a score of less
            than 10, even if they answered every question correctly. Therefore, before students take a test, be sure 
            there are at least 10 questions created and marked for inclusion in an overarching category.
        </p>
        <hr />
        <h2>Training Portal:</h2>
        <p>
            The training portal will only include marked content to display to students, although unlike the testing 
            portal, there is no limit on the number of training entries students can view. ALL marked training data
            within a specific subcategory will be displayed to students.
        </p>
    }
    else
    {
        <p>
            <span style="font-size: 2rem; font-weight: bold;">W</span>elcome to NMC's cyber testing and learning platform. Here, students can learn more about cyber security issues in an ever-evolving malicious space, test their knowledge,
            and share their results with instructors and staff.
        </p>
        <p>
            Understanding how criminals take advantage of users keeps students and staff at NMC safe from harmful acts of identity theft, computer destruction, stalking, and more. It's important to learn the practices of what are called
            "bad actors" in order to safeguard yourself and others from having your life, or your things, violated by strangers. To learn more about the various tactics used by cyber criminals, or to take a test on what you already know, follow the links at the bottom of the page.
        </p>
        <div class="text-center mt-5">
            <a asp-controller="Training" asp-action="Train" class="btn btn-outline-primary fw-bold" style="margin: 10px;">Learn more</a>
            <a asp-controller="Testing" asp-action="TestSelection" class="btn btn-outline-danger fw-bold" style="margin: 10px;">Take a Test</a>
        </div>
    }
</div>
