@model PhishFood.Models.Training

@{
    ViewData["Title"] = "Create";
}

<div class="add-content">
    <div class="wrapper">
        <div class="items">
            <button class="btn btn-outline-success" disabled>1. Category</button>
            <span class="text-secondary icon"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></span>
            <button class="btn btn-outline-success" disabled>2. Subcategory</button>
            <span class="text-secondary icon"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></span>
            <button class="btn btn-outline-success active">3. Training</button>
            <span class="text-secondary icon"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></span>
            <button class="btn btn-outline-success" disabled>4. Testing</button>
        </div>
        <hr />
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group create">
                        <label asp-for="Content" class="control-label"></label>
                        <div id="editor" style="font-size: 1rem; height: 20vh;"></div>
                        <input asp-for="Content" class="form-control" hidden />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group create">
                        <label asp-for="CategoryID" class="control-label"></label>
                        <select asp-for="CategoryID" class ="form-control" asp-items="ViewBag.CategoryID"></select>
                    </div>
                    <div class="form-group create">
                        <label asp-for="SubcategoryID" class="control-label"></label>
                        <select asp-for="SubcategoryID" class ="form-control" asp-items="ViewBag.SubcategoryID"></select>
                    </div>
                    <div class="form-group btns">
                        <input type="submit" value="Create" class="btn btn-outline-danger" />
                        <a asp-action="CategoryView" asp-controller="Subcategory" class="btn btn-outline-secondary me-5">Cancel</a>
                        <a asp-action="Index" class="btn btn-outline-dark">Training List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section script {
    <script>
        // Initialize Quill editor
        const quill = new Quill('#editor', {
            modules: {
                toolbar: [
                    [{font: []}, {size: []}],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{color: []}, {background: []}],
                    [{script: 'sub'}, {script: 'super'}],
                    [{header: []}, 'blockquote'],
                    [{list: 'ordered'}, {list: 'bullet'}, {indent: '-1'}, {indent: '+1'}],
                    [{align: []}],
                    ['link', 'image', 'video'],
                    ['clean']
                ],
            },
            placeholder: 'Add some content here...',
            theme: 'snow',
        });

        $(function(){
            // Set the value of the content field with Quill when submitting
            $("form").submit(function(){
                $("#Content").val(quill.root.innerHTML);
            });
        });
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
