@model PhishFood.Models.Training

@{
    ViewData["Title"] = "Edit Content";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="offset-lg-3 col-lg-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group create">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group create">
                <label asp-for="Content" class="control-label"></label>
                <div id="editor" style="font-size: 1rem; height: 20vh;">@Html.Raw(Model.Content)</div>
                <input asp-for="Content" class="form-control" hidden id="Content" name="Content"/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group create">
                <label asp-for="Notes" class="control-label"></label>
                <div id="editor2" style="font-size: 1rem; height: 20vh;">@Html.Raw(Model.Notes)</div>
                <input asp-for="Notes" class="form-control" hidden id="Notes" name="Notes"/>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group create">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group create">
                <label asp-for="SubcategoryID" class="control-label"></label>
                <select asp-for="SubcategoryID" class="form-control" asp-items="ViewBag.SubcategoryID"></select>
                <span asp-validation-for="SubcategoryID" class="text-danger"></span>
            </div>
            <div class="form-group form-check center margin5">
                <input asp-for="IsActive" class="form-check-input" />
                <label asp-for="IsActive" class="form-check-label"></label>
            </div>
            <div class="form-group btns mb-5">
                <input type="submit" value="Save" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section script {
    <script>
        if (window.ImageCompress) {
            Quill.register('modules/imageCompress', window.ImageCompress);
        } else {
            console.error('ImageCompress module not found.');
        }

        const toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote'],
            ['link', 'image', 'video'],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['clean']
        ];

        const modulesConfig = window.ImageCompress && typeof window.ImageCompress === 'function' ? {
            toolbar: toolbarOptions,
            imageCompress: {
                quality: 0.7,
                maxWidth: 1000,
                maxHeight: 1000,
                imageType: 'image/jpeg',
                debug: true
            }
        } : {
            toolbar: toolbarOptions
        };


        let quill = new Quill('#editor', {
            modules: modulesConfig,
            theme: 'snow'
        });

        let quill2 = new Quill('#editor2', {
            modules: modulesConfig,
            theme: 'snow'
        });

        $(function(){
            // Set the value of the content field with Quill when submitting
            $("form").submit(function(){
                $("#Content").val(quill.root.innerHTML);
                $("#Notes").val(quill2.root.innerHTML);
            });
        });
    </script>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
