@model IEnumerable<PhishFood.Models.Training>

@{
    ViewData["Title"] = "Training";
}

@section style {
    <style>
        body {
            background: url('/images/island.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
        .row div {
            width: 200px;
            height: 200px;
            margin-top: 10%;
        }
        .row div a {
            display: block;
            width: 200px;
            height: 200px;
            text-align: center;
            align-content: center;
            color: black;
            border: 3px solid black;
            font-weight: bold;
            background-color: rgba(255,255,255,0.7);
        }
    </style>
 }

<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<div class="row justify-content-between">
    <div class="col-4">
        <a asp-action="Train">Email Phishing</a>
    </div>
    <div class="col-4">
        <a asp-action="Train">SMS Phishing</a>
    </div>
    <div class="col-4">
        <a asp-action="Train">Voice Phishing</a>
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-4">
        <a asp-action="Train">Spear Phishing</a>
    </div>
    <div class="col-4">
        <a asp-action="Train">Whale Phishing</a>
    </div>
</div>
