@model IEnumerable<PhishFood.Models.Training>

@{
    ViewData["Title"] = "Training Content";
}

@foreach (var item in Model)
{
    <div class="content">
        @Html.Raw(item.Content)
    </div>  
}
