/* font */
.ql-font-serif {
    font-family: serif;
}

.ql-font-sans-serif {
    font-family: sans-serif;
}

.ql-font-monospace {
    font-family: monospace;
}

/* size */
.ql-size-small {
    font-size: small;
}

.ql-size-large {
    font-size: large;
}

.ql-size-huge {
    font-size: x-large;
}

/* align */
.ql-align-left {
    text-align: left;
}

.ql-align-right {
    text-align: right;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}


/* bulleted list */

.ql-editor ul {
    padding-left: 1.5em;
    list-style-type: disc;
    margin: 1em 0;
}

.ql-editor ol {
    padding-left: 1.5em;
    list-style-type: decimal;
    margin: 1em 0;
}

.ql-editor li {
    margin-bottom: 0.3em;
}

/* image */
/* indent */
