/* font */
.ql-font-serif {
    font-family: serif;
}

.ql-font-sans-serif {
    font-family: sans-serif;
}

.ql-font-monospace {
    font-family: monospace;
}

/* size */
.ql-size-small {
    font-size: small;
}

.ql-size-large {
    font-size: large;
}

.ql-size-huge {
    font-size: x-large;
}

/* align */
.ql-align-left {
    text-align: left;
}

.ql-align-right {
    text-align: right;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

/* image */
/* indent */
/* bulleted list */
